{% include header.html %}
<div id="wrap">

    <header id="page-header">
        <div class="header_div" align=center>
            <div>
                <img src="{{ site.icon_location }}" height=128px width=128px style="border: 8px solid {{ site.colors.accent }}">
            </div>
            <div>
                <h1 style="font-size: 64px; color: {{ site.colors.accent }};">{{ site.project_name }}</h1>
            </div>
        </div>
    </header>

    <div id="nonheaderfooter">
        <div class="topmenu_content slider" id="topmenu_div">
            <h3 align=center>site map:</h3>
            <ul align=center>
                {% assign pages_by_importance = site.pages | sort: "importance" %}
                {% for post in pages_by_importance %}
                <li align=center>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="hamburger_div">
                <button class="hamburger" type="button" onclick="toggleMenu()">&#9776 Page: {{page.title}}</button>
            </div>
        </div>
        <div id="sidebar">
            <h1>Site Index</h1>
            {% assign pages_by_importance = site.pages | sort: "importance" %}
            {% for post in pages_by_importance %}
                {% if post.url == page.url %}
                    <p><b><a href="{{ post.url }}">{{ post.title }}</a></b></p>
                {% endif %}
                {% if post.url != page.url %}
                    <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                {% endif %}
            {% endfor %}
            <div></div>
        </div>
        <div id="markdown_content">
            <div id="spacer">  <!-- put this here for menu bar spacing -->
            </div>
            {{ content }}
        </div>
    </div>
    <footer class="page-footer">
        <div class="footer_div" align=center>
            <div align=left>
                <p style="text-align: left;">{{ site.footer_text }}</p>
            </div>
            <div align=right>
                <p style="text-align: right;">{{page.path}}</p>
            </div>
          </div>
    </footer>

</div>

<script>
    function toggleMenu() {
    var element = document.getElementById("topmenu_div");
    element.classList.toggle("slider-active");
}
</script>

{% include footer.html %}
